body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../assets/utd.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.container {
    background-color: white;
    padding: 20%;
    width: 300px;
    height: 100%; 
    position: relative;
}

.green{
    position: absolute;
    bottom:0;
    left: 0;
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 5%;
    background-color: green;
}
form {
    text-align:left;
}

label {
    display: block;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signout_button{
    background-color: green;
    color: white;
}
