<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>main.java.QuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/QuizServlet</url-pattern>
  </servlet-mapping>

</web-app>

